body {
  background-color: #f5d39d;
  margin: 0;
  padding: 0;
}

#tijelo {
  background-color: #999;
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 90%;
  min-height: 100vh;
  width: 800px;
}

nav {
  height: 200px;
  width: 100%;
  background-color: #ffefe0;
  position: relative;
}

#el1-header {
  width: 11%;
  position: absolute;
}

#el2-header {
  width: 50%;
  position: absolute;
}

#el3-header {
  width: 11%;
  position: absolute;
}

#izbornik-header {
  width: 100%;
  height: 40px;
  background-color: #ffefe0;
  position: absolute;
  top: 160px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-header {
  margin: 0px 20px 0px 20px;
  text-decoration-line: none;
  color: #b07412;
  user-select: none;
}

.link-header:hover {
  color: #089e23;
}

#collapsing-menu-header {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 100%;
  height: 0px;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  display: none;
  z-index: 3;
  transition: height 1s;
}

.collapsing-link {
  height: 50px;
  width: 100%;
  /*color: yellow;*/
  text-decoration-line: none;
  display: block;
  /*background-color: green;*/
  transition: background-color 0.7s;
}

.collapsing-link:hover {
  background-color: rgba(200,200,200,0.4);
}

.collapsing-link  p {
  margin: 0px 0px 0px 40px;
  padding: 15px 0px 15px 0px;
  color: white;
  transition: color 0.7s;
}

.collapsing-link:hover > p {
  color: #4dedff;
}

@media screen and (min-width: 451px) {
  #el1-header {
      top: 10px;
      left: 12%;
  }
  
  #el2-header {
      top: 50px;
      left: 25%;
  }
  
  #el3-header {
      top: 10px;
      right: 12%;
  }
}

#gumb-header {
  position : absolute;
  height: 40px;
  width: 60px;
  border-radius: 8px;
  background-color: #888;
  /*top: 30px;
  right: 30px;*/
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #bbb;
  transition: border-color 0.7s;
}

.gumb-el {
  background-color: #bbb;
  height: 10%;
  width: 50%;
  margin: 6% 0px 6% 0px;
  border-radius: 5px;
  transition: background-color 0.7s;
}

#gumb-header:hover {
  border-color: white;
  cursor: pointer;
}

#gumb-header:hover .gumb-el {
  background-color: white;
}

@media screen and (max-width: 450px) {
  #tijelo {
    width: 400px;
    max-width: 100%;
  }

  #gumb-header {
    display: flex;
    bottom: 30px;
    right: 30px;
  }

  #izbornik-header {
    display: none;
  }
  #el1-header {
    display: none;
  }

  #el2-header {
    width: 90%;
    top: 25px;
    left: 5%;
  }

  #el3-header {
    width: 14%;
    bottom: 10px;
    right: 43%;
  }

  #collapsing-menu-header {
    display: block;
  }

}

/*onama*/

#onama-main {
  min-height: 100vh;
  width: 100%;
  background-color: #f7cc86;
}

#onama-el1 {
  padding: 50px 20px 0px 20px;
  margin: 0;
}

#onama-el2 {
  padding: 50px 20px 0px 20px;
  margin: 0;
}

#onama-el3 {
  display: block;
  padding: 20px 0px 0px 50px;
  margin: 0px;
  text-decoration-line: none;
  color: #b07412;
}

#onama-el3:hover {
  color: #089e23;
}


/*kontakt*/

#kontakt-main {
  min-height: 100vh;
  width: 100%;
  background-color: #f7cc86;
  position: relative;
  border: solid 0.1px rgba(0,0,0,0);
}

#kontakt-naslov {
  margin: 50px 0px 0px 50px;
  font-size: 25px;
  font-weight: 600;
}

#kontakt-tablica {
  width: 400px;
  max-width: 90%;
  /*height: 400px;*/
  /*background-color: green;*/
  margin: 50px 0px 0px 50px;
}

#kontakt-slika {
  width: 33%;
  position: absolute;
  top: 0px;
  right: 0px;
}

#kontakt-slika1 {
  width: 230px;
  margin: 10px 0px 0px 100px;
  display: block;
}

#kontakt-el {
  width: 100%;
  display: block;
  justify-content: center;
}

#kontakt-link {
  margin: 20px 0px 0px 65px;
  display: block;
}

#kontakt-tablica td {
  /*border: 1px solid black;  */
  padding: 10px 0px 10px 0px;
}

.kontakt-tablica-stupac1 {
  width: 200px;
  font-size: 18px;
  font-weight: 500;
}

.kontakt-tablica-stupac2 {
  font-size: 13px;
}

@media screen and (max-width: 400px) {
  .kontakt-tablica-stupac2 {
      font-size: 11px;
  }

  .kontakt-tablica-stupac1 {
      width: 160px;
      font-size: 15px;
      font-weight: 500;
  }
}

@media screen and (max-width: 700px) {
  #kontakt-slika {
      position: relative;
      width: 40%;
      right: -30%;
  }

  #kontakt-tablica {
      margin: 50px auto 0px auto;
  }

  #kontakt-slika1 {
      width: 230px;
      margin: 10px auto 0px auto;
  }

  #kontakt-link {
      margin: 20px 0px 0px 0px;
  }

  #kontakt-el {
      display: flex;
  }
}
